@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    max-width: 600px;
    color: #110E47;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}


/* Header */
header {
    display: flex;
    padding: 1.5em;
}

/* The switch - box around slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AAA9B1;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #15141F;
}

input:focus+.slider {
    box-shadow: 0 0 1px #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* Header end*/

/* Now showing */
.moviesWrapper {
    display: flex; 
    gap: 15px; 
    justify-content: flex-start;  /* Aligns items to start */
    overflow-x: auto;  /* Enables horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    padding: 10px; /* Adds some padding */
}

/* Hides the scrollbar */
/* .moviesWrapper::-webkit-scrollbar {
    display: none; 
} */

.movie {
    width: 143px; /* Match image width */
}

.movie img {
    width: 143px;
    height: 212px;
    border-radius: 10px;
}

.seeMoreBtn {
    border-radius: 34px;
    color: #AAA9B1;
    border: 2px solid #AAA9B1;
    background-color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}
/* Now showing end*/